/*
MEDIA QUERY MANAGER

0 - 600px:          Phone
600px - 900px:      Tablet Portrait
900px - 1200px:     Tablet Landscape
1200px - 1800px:    This is where our normal styles apply
1800px + :          Big Desktop

$breakpoint argument choices:

- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.7;
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.recipe {
  border: 1px solid #000; }

.search {
  width: 100%;
  height: 10vh;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__form {
    width: 50%;
    height: 5rem;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; }
  .search__button {
    width: 10%;
    height: 100%;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    padding: 0 .5rem;
    border: none;
    outline: none; }
  .search__icon {
    color: #767676;
    font-size: 2rem; }
  .search__input {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0 1rem;
    color: #111;
    font-family: inherit;
    letter-spacing: 1px;
    font-size: 1.6rem;
    border: none;
    outline: none; }
    .search__input::placeholder {
      color: #767676; }

.app {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); }
